doctype html
html
  head
    title Luman-Gulp-Workflow
    include /deps/top
  body
    include /includes/header
    main
      span main
    include /includes/footer
    include /deps/bottom